<h1>Rubyholic</h1>

<% form_tag groups_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table border=1>
  <tr>
    <td align="center">
      <% if params[:sort_dir].blank? %>
        <b><%= link_to "Sort", groups_path(:sort_dir => 'DESC') %></b>
      <% elsif params[:sort_dir] == 'ASC' %>
        <%= link_to "Sort", groups_path(:sort_dir => 'DESC') %>
      <% else %>
        <%= link_to "Sort", groups_path(:sort_dir => 'ASC') %>
      <% end %>
    </td>
  </tr>
<% unless @groups.nil? %>
<% for group in @groups %>
  <tr>
    <td><%= link_to group.name, group %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />

<%= will_paginate @groups %>

<br />

<%= link_to 'New group', new_group_path %>
