<table border=1>
  <tr>
    <td colspan=2 align=center><h1><%=h @group.name %></h1></td>
  </tr>
  <tr>
    <td>
      <p>
        <b>URL:</b>
        <%=h @group.url %><br>
        <b>Description:</b>
        <%=h @group.description %>
      </p>
    </td>
    <% unless @google_maps_url.nil? %>
      <td><img src="<%=@google_maps_url%>"></td>
    <% end %>
  </tr>
  <% unless @events.nil? 
    @events.each do |event| %>
    <tr>
      <td colspan=2 align=center><%= link_to event.name, event_path(event) %>
    </tr>
  <% end 
    end
  %>
</table>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back to Groups', groups_path %> | 
<%= link_to 'New event', new_event_path %>
